<% include _head %>
<body class="<%= bodyClass %>">
<header id="header-bar">
	<div id="header-sp-handle">
		<a href="#"><div></div><div></div><div></div><div class="shade"></div></a>
	</div>
</header>

<header id="header-global">
</header>
