

$headerInnerSize: $smartphoneHeaderSize;
#header-bar {
	
	box-shadow:0 0 5px rgba(0,0,0,0.2);
	background-color: $colorHeaderBar;
	height:$headerInnerSize;
	width:100%;
	position: fixed;
	top:0;
    transition: top .5s cubic-bezier(0.9, -0.24, 0.04, 1.19) 0s;
    z-index:1000;

	
	.glnav-hide & {
		top: $headerInnerSize * -1;
	}
	
	p , aside {
		display: none;
	}

	h1 {
		padding-left:40px;
		
	}
	
	#header-bar-content {
		padding-left:$headerInnerSize;
		line-height:$headerInnerSize;
		color:#fff;
	}
}

#header-sp-handle {
	position: absolute;
	top:0;left:0;
	padding: ($smartphoneHeaderSize - $smartphoneHandleSize)*0.52;
	
	> a {
		width: $smartphoneHandleSize ;
		height: $smartphoneHandleSize ;
		display: block;
		position: relative;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
		
		&:after {
			content:"";
			display: block;
			border-radius:50%;
			background:rgba(0,0,0,0.2);
			opacity:0;
			transition: opacity 0.3s ease-in-out 0s;
			width:$smartphoneHeaderIconTouchSize;
			height:$smartphoneHeaderIconTouchSize;
			position: absolute;
			margin : $smartphoneHeaderIconTouchSize * -0.5;
			left:50%;top:50%;
		}
		
		&:active {
			&:after {
				opacity:1;
			}
		}
		
		div {
			position: absolute;
			background-color: $colorHeaderBarElement;
			margin:-2px -8px;
			left:50%;
			height:3px;
			width:$smartphoneHandleSize;
			
			transform :rotate(0deg);
			transition :all 0.3s ease-out 0.3s;
			z-index:20;
			
			&:nth-child(1){top:12%;}
			&:nth-child(2){top:50%;opacity:1;}
			&:nth-child(3){top:87%;}

			.drawer-opened & {
				background-color:#FFF;
				top:50%;
				&:nth-child(1){
					transform : rotate(135deg) ;
				}
				&:nth-child(2){
					opacity:0;
					transform : rotate(180deg) ;
				}
				&:nth-child(3){
					transform : rotate(-135deg) ;
				}
			}
			
			&.shade {
				background-color:rgba(0,0,0,0.7);
				position: fixed;
				top: 0;
				left: 8px;
				width: 100%;
				height: 100%;
				z-index:10;
				display:none;
				.drawer-opened & {
					display:block;
				}
			}
		}
	}
}
