
//リセットスタイル
@import '_reset';

//フォント読み込み
@import '_fonts';

/*
	基本設定群
	- 設定類は原則として変数にまとめておく。
*/

@import '_settings';


/*
##コード規約について
	
###クラス命名
	.区分-種類-用途
	この形式で統一。用途についてはデフォルトは排除。

*/


@import "system_userinterface_elements";


/* 認証回り */
@import "system_authencation_interfaces";



/* ########## 初期設定 ########## */

// html側のベースフォントサイズは、remによるpx近似指定のため62.5%に設定
html {
	font-size: 62.5%;
	width:100%;
	background-color: $colorSideDrawer;
}

body {
	font-family:$enSansFontFamily;
	font-size: 1.6em; //bodyのみはremを指定しない(Chromeのバグ対策)
	line-height:1.4em;
	color: $defaultTextColor;
	background-color: $colorBody;
	width:100%;
	padding-top:$smartphoneHeaderSize;
}

//リンクの基本動作設定(ホバー時のみ下線表示)
a {
	text-decoration: none;
	color: $defaultTextColor;
	&:hover { text-decoration: underline; }
}

hr {
	display: block;
	border: 1px solid #ccc;
	border-width: 1px 0 0 0;
}

/* ########## グローバルヘッダー ########## */
@import '_header';

/* ########## スマートフォン用サイドドロアー ########## */
#sidenav-drawer { display: none; }
@media (max-width: #{$globalNavBreakpoint}){
@import '_side_drawer';
}

/* ########## グローバルフッター ########## */
@import '_footer';

/* ########## 基本レイアウト要素 ########## */
@import '_layouts';

/* パンくず */
#breadcrumb {
	width:100%;
	top:0;
	left:0;
	
	ul {
		max-width:960px;
		padding:$defaultScreenPadding $defaultScreenPadding;
		margin:0 auto;
		font-size:0;
		> li {
			display: inline-block;
			margin:0;
			font-size:1.3rem;
			
			& , a {
				color:#999;
			}
			
			&:after {
				content: ">";
				display: inline-block;
				margin:0 0.7em;
			}
			&:last-child {
				
				& , a {
					color:#333;
				}
			
				&:after {
					display:none;
				}
			}
		}
	}
	
	&.dark {
		ul {
			> li {
				& , a {
					color:#FFF;
				}
				
				&:last-child {
					& , a {
						color:#FFF;
					}
				}
			}
		}
	}
}


.profile , .toilet-detail {
	display: table;
	width:100%;
	> li {
		display:table-row!important;
		> span , > strong , > div {
			display:table-cell;
			padding:16px 0;
			border-bottom:1px dotted #D9D9D9;
			vertical-align:top;
		}

		> strong {
			width:120px;
			text-align:right;
			font-weight:bold;
			color:#999;
		}
		> span , > div {
			padding-left:1.5em;
			padding-right:1.5em;
			box-sizing:border-box;
			width:calc(100% - 120px);
		}
	}
	@media (max-width:#{$displayPhone}){
		margin-top:2.4em;
		display: block;
		> li {
			display: block!important;
			> span , > strong , > div {
				padding-top:0;
				display: block;
			}
			> span , > div {
				margin-bottom:2em;
				width:auto;
				padding-left:.8em;
				padding-right:.8em;
				iframe {
					height:300px;
				}
			}
			> strong {
				width:auto;
				text-align:left;
				padding-bottom:0.3em;
				border-bottom:none;
			}
		}
	}
}

#panic-button {
	font-weight: bold;
    color: #FFF;
    position: absolute;
    right: 8px;
    top: 7px;
    letter-spacing: 2px;
    border: 2px solid #FFF;
    line-height: 30px;
    border-radius: 6px;
    padding: 0 10px;
    i {
    	margin-right:0.2em;
    }
    &:active {
    	top:9px;
    	background-color: #FFF;
    	color:#333;
    }
}