@import '_settings';

$displayPhoneNarrow:480px;
.toilets {
	
	@media (max-width:#{$displayPhoneNarrow}){
		margin: 0 -4px;
	}
	&:after{
		content:"";
		display: block;
		clear:both;
	}
	
	li {
		box-sizing:border-box;
		width:25%;
		float:left;
		padding:8px;
		
		@media (max-width:#{$displayPhone}){
			width:50%;
		}

		@media (max-width:#{$displayPhoneNarrow}){
			width:100%;
			padding:0;
			border-bottom:2px solid #FFF;
		}
	}
	.toilet {
		display: block;
		box-shadow:0 1px 2px #EEE;
		
		color:#333;
		border-radius:4px;
		overflow:hidden;
		position: relative;
		transition:box-shadow .1s ease-in-out 0s,transform .3s cubic-bezier(0.76, -0.18, 0.32, 1.81) 0s;
		
		@media (max-width:#{$displayPhoneNarrow}){
			border-radius:0;	
			box-shadow:0 0px 3px #DDD;
		}
		
		&:hover {
			text-decoration:none;
			box-shadow:0 0 10px #ccc;
			transform:scale(1.05);
		}
		
		>.thumbnail {
			width:100%;
			position: relative;
			overflow:hidden;
			&:after {
				padding-bottom:100%;
				display: block;
				content:"";
			}
			img {
				max-width:100%;
				position: absolute;
				top:0;
				left:0;
			}

			@media (max-width:#{$displayPhoneNarrow}){
				float:left;
				width:64px;
			}
		}

		.price {
			position: absolute;
			top:5px;
			right:5px;
			border-radius: 3px;
			line-height: 1em;
			padding:4px 8px;
			font-size:1.2rem;
			background-color: #D00;
			color:#FFF;
			box-shadow:0 0 2px #FFF;
			z-index:10;
			@media (max-width:#{$displayPhoneNarrow}){
				border: 1px solid #D00;
				background-color: transparent;
				color:#D00;
				padding:3px 4px;
				font-size:1.1rem;
			}
		}
		
		
		.detail {
			
			$arrowSize : 10px;
			$borderSize:2px;
			$borderColor : #FFF;//$colorPrimary;
			$boxColor : #FFF;
			
			background-color: $boxColor;
			display: block;
			font-size:1.4rem;
			line-height:1.3em;
			min-height:4em;
			position: relative;
			padding:0.8rem;
			
			border-top:$borderSize solid $borderColor;
			
			//box-shadow:0 0 60px rgba(0,0,0,0.8);
			
			.title {
				border-bottom:1px dotted #ccc;
				padding-bottom: 0.5em;
				margin-bottom: 0.5em;
				@media (max-width:#{$displayPhoneNarrow}){
					padding: 0.4em 0;
					margin-bottom: 0.3em;
				}
			}

			

			@media (max-width:#{$displayPhoneNarrow}){
				width:calc(100% - 80px);
				float:left;
			}
			
			&:after,&:before {
				content:"";
				margin: 0 $arrowSize * -1;
				border:$arrowSize solid $boxColor;
			}
			&:before {
				border-color:transparent transparent $borderColor transparent;
				position: absolute;
				top:$arrowSize * -2 -$borderSize;
				right:50%;
			}
			&:after {
				border-color:transparent transparent $boxColor transparent;
				position: absolute;
				top:$arrowSize * -2 ;
				right:50%;
			}

			@media (max-width:#{$displayPhoneNarrow}){
				$arrowSize : 8px;
				padding:0 0.8rem;
				&:after,&:before {
					margin: $arrowSize * -1 0;
					right :auto;
				}

				&:before {
					border-color:transparent $borderColor transparent transparent;
					position: absolute;
					left:$arrowSize * -2 ;
					top:50%;
				}
				&:after {
					border-color:transparent $boxColor transparent transparent;
					position: absolute;
					left:$arrowSize * -2 + 1px ;
					top:50%;
				}


			}
		}		
	}
}

.review-counts {
	$boxColor:#FFF;
	.star {
		color:orange;
		text-shadow:0 1px 0 rgba(0,0,0,0.1) ;
		@media (max-width:#{$displayPhoneNarrow}){
			font-size:1.2rem;
		}
	}
	.count {
		$color : #DDD;
		$borderColor : $color;
		$borderSize:1px;
		color:darken($color,40%);
		display: inline-block;
		border:$borderSize solid $borderColor;border-radius:3px;
		position: relative;
		font-size:1.2rem;
		padding:3px 6px;
		line-height:1em;
		$miniArrowSize:4px;
		margin-left:2px + $miniArrowSize;
		margin-right:0.5em;
		
		@media (max-width:#{$displayPhoneNarrow}){
			font-size:1.0rem;
		}
		
		&:after,&:before {
			content:"";
			border:$miniArrowSize solid $boxColor;
			margin:$miniArrowSize*-1 0;
		}
		&:before {
			border-color:transparent $borderColor transparent transparent;
			position: absolute;
			left:$miniArrowSize * -2 - $borderSize;
			top:50%;
		}
		&:after {
			border-color:transparent $boxColor transparent transparent;
			position: absolute;
			left:$miniArrowSize * -2 + 1px;
			top:50%;
		}
	}
}

.panel header.toilet {
	position: relative;
	
	a.vr-ready {
		$position:8px;
		position: absolute;
		left:$position;
		top:$position;
		line-height:1em;
		border-radius:6px;
		color:#FFF;
		border:1px solid #FFF;
		padding:6px 16px;
		@media (max-width:#{$displayPhone}){
			left:$position*2;
		}
	}

	.price {
		position: absolute;
		top:8px;
		right:8px;
		border-radius: 3px;
		line-height: 1em;
		padding:8px 16px;
		font-size:1.6rem;
		background-color: #D00;
		color:#FFF;
		box-shadow:0 0 2px #FFF;
		z-index:10;
		@media (max-width:#{$displayPhoneNarrow}){
			right:16px;
			top:8px;
		}
	}

	.bg {
		position: relative;
		min-height:350px;
		@media (max-width:#{$displayPhone}){
			min-height:250px;
			margin-bottom:60px;
		}
		overflow:hidden;
		width:100%;
		height:100%;
		
		& , & img { display: block;}

		img {
			position: absolute;
			width:110%;
			height:110%;
			left:-5%;
			top:-5%;
			background-position: center center;
			background-size:cover;
			filter: blur(4px);

		}

	}

	h2 {
		position: absolute;
		margin:0;
		padding:20px;
		bottom:0px;
		left:0px;
		text-align:left;
		border:none;
		
		color:#FFF;
		line-height:1em;
		text-shadow: 0 0 6px #000, 0 0 6px #000;
		width:calc(100% - 165px);
		z-index:5;
		@media (max-width:#{$displayPhone}){
			text-align:center;
			width:100%;
			padding:0;
			top:80px;
			font-size:3.0rem;
			letter-spacing:3px;
		}
	}

	.thumbnail {
		$position:10px;
		width:120px;
		position: absolute;
		bottom:$position*-1;
		right:$position;
		z-index:10;
		border:2px solid #fff;
		box-shadow : 0 0 8px rgba(0,0,0,0.5);
		@media (max-width:#{$displayPhone}){
			bottom:-35px;
			margin: 0 120px*-0.5;
			left:50%;
		}
		
	}
	margin-bottom:20px;
}

p.description {
	
}

.panel {
	.main-descripion {
		padding:16px;	
		margin: 0 16px;
		background-color: #EEE;
		border-radius:8px;
	}
}

.reviews {
	li {
		border-bottom:1px solid #EEE;
		padding:16px 0;
	}
	li > .review {
		$userSize : 130px;
		
		&:after {
			content:"";
			display: block;
			clear:both;
		}
		> .user , > .detail {
			display: block;
			float:left;
		}
		> .user {
			width:$userSize;
			text-align:center;
			.icon {
				img {
				box-sizing:border-box;
				max-width:100%;
				border-radius:100%;
				border:4px solid $colorPrimary;
				}
			}
			box-sizing:border-box;
			padding-right:1.5em;
			
			.name {
				font-size:1.1rem;
				line-height:1em;
				display:inline-block;
				padding:6px 8px;
				background-color: $colorPrimary;
				border-radius:100px;
				color:#FFF;
				font-weight:bold;
			}

			.icon+.name {
				position: relative;
				top:-20px;
			}
		}

		> .detail {

			$reviewArrowSize : 10px;
			$boxColor:#FFF;
			$borderColor:#ccc;
			$borderSize:1px;
			width:calc(100% - #{$userSize});
			box-sizing:border-box;
			padding-left:1.5em;
			font-size:95%;
			border-left:1px solid $borderColor;
			position: relative;
			
			&:after,&:before {
				content:"";
				border:$reviewArrowSize solid $boxColor;
				margin:$reviewArrowSize*-1 0;
			}
			&:before {
				border-color:transparent $borderColor transparent transparent;
				position: absolute;
				left:$reviewArrowSize * -2 - $borderSize;
				top:50%;
			}
			&:after {
				border-color:transparent $boxColor transparent transparent;
				position: absolute;
				left:$reviewArrowSize * -2 + 1px;
				top:50%;
			}
		}

		@media (max-width:#{$displayPhone}){
			$userSize : 90px;
		
			> .user {
				width:$userSize;
				text-align:center;
				.icon {
					img {
					}
				}
				box-sizing:border-box;
				padding-right:1em;
				
				.name {
				}

				.icon+.name {
					top:-20px;
				}
			}

			> .detail {

				$reviewArrowSize : 10px;
				$boxColor:#FFF;
				$borderColor:#ccc;
				$borderSize:1px;
				width:calc(100% - #{$userSize});
				box-sizing:border-box;
				padding-left:1em;
				font-size:90%;
				border-left:1px solid $borderColor;
				
				&:after,&:before {
					content:"";
					border:$reviewArrowSize solid $boxColor;
					margin:$reviewArrowSize*-1 0;
				}
				&:before {
					border-color:transparent $borderColor transparent transparent;
					position: absolute;
					left:$reviewArrowSize * -2 - $borderSize;
					top:50%;
				}
				&:after {
					border-color:transparent $boxColor transparent transparent;
					position: absolute;
					left:$reviewArrowSize * -2 + 1px;
					top:50%;
				}
			}
		}

		.review-counts {
			float:right;
		}
	}
}

.toilet-finder {
	margin : 0 -8px -8px -8px;
	> li {
		display: block;
		background-color: #FFF;
		transition: background-color 0.5s linear 0s;
		&:after {
			content:"";
			display: block;
			clear:both;
		}
		&{
			background-color: #ccc;
		}

		&.waiting {
			background-color:#A5D0D7;
		}

		&.allow{
		 	background-color: green;
		 	.detail {
		 		padding:8px;
		 	}
		}
		
		i {
			margin-right:0.3em;
		}
		&.ban{
		 	background-color: red;
		}
	}
	.status {
		text-align:center;
		font-size:4.0rem;
		font-weight:bold;
		line-height:72px;
		color:#fff;
		text-shadow:0 0 2px rgba(0,0,0,0.5);
	}

	.detail {
		background-color: #005800;
		color:#FFF;
		display:none;
		
		&:after {
			content:"";
			display: block;
			clear:both;
		}
		
		@media (max-width:#{$displayPhone}){
			> ul {
				margin:1em;
				box-sizing:border-box;
				width:95%;
			}

			.profile>li>span, .profile>li>div, .toilet-detail>li>span, .toilet-detail>li>div {
				margin-bottom:1.2em;
			}
		}
		.thumbnail ,
		.data {
			float:left;
		}
		.thumbnail {
			width:72px;
			height:72px;
			display: block;
			box-sizing:border-box;
			border:1px solid #FFF;
			img {
				max-width:100%;
			}
		}

		.price {
			position: absolute;
			top:0;left:0;
		}

		.data {
			box-sizing:border-box;
			width:calc(100% - 72px);
			padding:8px 8px ;
			.review-counts .count{
				background-color: #FFF;
			}
		}

		.buttons {
			clear: both;
			text-align: center;
			padding: 8px 0 0 0;
		}
	}

	

}

#welcome-message {
	height:300px;
	color:#FFF;
	position: relative;
	background-color: #333;
	
	text-shadow:0 0 8px #000;
	
	transition: height .5s cubic-bezier(0.55, -1.15, 0.37, 1.89) 0.5s;

	
	.panic-mode & {
		height:200px;
		h1 {
			opacity:0;
		}

		h2 {
			opacity:1!important;
		}

		.header-info{
			opacity:0;
		}
	}

	> * {
		opacity:0;
		transition:opacity 0.2s ease-in-out 0s;
	}

	&.ready {
		> * {
			opacity:1;
		}

		> h2 {
			opacity:0;
		}
	}
	
	@media (max-width:#{$displayPhone}){
		height:250px;
	}
	
	.bg {
		width:100%;
		height:100%;
		overflow:hidden;
		& , & img {
			
		}
		img {
			width:110%;
			height:110%;
			margin:-1% -5%;
			background-size: cover;
			background-position: center;
			filter: blur(4px);
		}
	}
	.header-info , h1 , h2{
		position: absolute;
		left:0;width:100%;
		z-index:10;
		text-align:center;
		font-weight:100;
	}
	h1 , h2 {
		top:48%;
		font-size:4.2rem;
		line-height:1em;
		letter-spacing:2px;
		margin:-18px 0;
		@media (max-width:#{$displayPhone}){
			font-size:2.2rem;
			letter-spacing:2px;
		}
	}

	.header-info {
		top:calc(50% + 25px);
		font-size:1.2rem;
		letter-spacing:0.25rem;
		@media (max-width:#{$displayPhone}){
			font-size:1.0rem;
			top:calc(50% + 5px);
			letter-spacing:0.1rem;
		}
	}

}

#panicmode-toilets {
	display: none;
}

#open-userpage {
	//text-shadow:none;
	
	top:5px;
	position: absolute;
	width:100%;
	text-align:center;
	top:20px;
	
	a {
		color:#FFF;
		border:1px solid #FFF;
		display:inline-block;
		font-size:1.2rem;
		padding:8px 12px;
		border-radius:3px;
		line-height:1em;
	}
}

#offer-send-console {
	&.pending , &{
		.send-offer {}
		.send-im-go {
			display: none;
		}
	}

	&.allow {
		.send-offer {display: none;}
		.send-im-go {
			display: block;
		}
	}
}