body , html {
	height:100%;
}

body {
	background-image: url('/images/top/cloud.jpg');
	background-size: cover;
	background-position: center;
}

.sections {
	height:calc(100% - 106px);
	h1 {
		$size : 280px;
		width:$size;
		height:$size;
		margin : $size*-0.5 0;
		position: absolute;
		top:48%;
		left:5%;
		img {
			max-width:100%;
		}
	}

	.buttons {
		position: absolute;
		right:5%;
		top:48%;
		
	}
}

