<% 
	var title = "ホーム画面",
		bodyClass = "page-home",
		pageCss = "system";
%>
<% include elements/_header %>


<header id="welcome-message">
	<h1>Welcome, Username</h1>
	<div class="header-info">
		There are 100 of toilet around 1km from you.
	</div>

	<div class="bg">
		<img src="#" alt="" style="background-image:url(http://maps.googleapis.com/maps/api/streetview?size=960x480&amp;location=35.666087999999995,139.73195339999998&amp;heading=235&amp;sensor=false);">
	</div>

	<div id="open-userpage">
		<a href="#"><i class="fa fa-user"></i> USERNAME</a>	
	</div>
	

</header>
<div class="sections">
	<section>
		<div class="column">
			<div class="col-full">
				<div class="panel">
					<h3>NEARBY TOILETS</h3>
					<ul class="toilets">
						<li>
							<a class="toilet" href="toilet_detail.html">
								<div class="thumbnail">
									<img src="/images/sampletoilet.jpg" alt="">
								</div>
								<div class="price">
									&yen;9,999
								</div>
								<div class="detail">
									<div class="title">中村南鷺宮HQトイレ</div>
									<div class="review-counts">
										<span class="star">
											<i class="fa fa-star"></i>
											<i class="fa fa-star-half-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
										</span>
										<span class="count">99</span> <i class="fa fa-comment"></i><span class="count">99</span>
									</div>
								</div>
							</a>
						</li>
						
						<li>
							<a class="toilet" href="toilet_detail.html">
								<div class="thumbnail">
									<img src="/images/sampletoilet.jpg" alt="">
								</div>
								<div class="detail">
									<div class="title">中村南鷺宮HQトイレ</div>
									<div class="review-counts">
										<span class="star">
											<i class="fa fa-star"></i>
											<i class="fa fa-star-half-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
										</span>
										<span class="count">99</span> <i class="fa fa-comment"></i><span class="count">99</span>
									</div>
								</div>
							</a>
						</li>

						<li>
							<a class="toilet" href="toilet_detail.html">
								<div class="thumbnail">
									<img src="/images/sampletoilet.jpg" alt="">
								</div>
								<div class="detail">
									<div class="title">中村南鷺宮HQトイレ</div>
									<div class="review-counts">
										<span class="star">
											<i class="fa fa-star"></i>
											<i class="fa fa-star-half-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
										</span>
										<span class="count">99</span> <i class="fa fa-comment"></i><span class="count">99</span>
									</div>
								</div>
							</a>
						</li>

						<li>
							<a class="toilet" href="toilet_detail.html">
								<div class="thumbnail">
									<img src="/images/sampletoilet.jpg" alt="">
								</div>
								<div class="detail">
									<div class="title">中村南鷺宮HQトイレ</div>
									<div class="review-counts">
										<span class="star">
											<i class="fa fa-star"></i>
											<i class="fa fa-star-half-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
										</span>
										<span class="count">99</span> <i class="fa fa-comment"></i><span class="count">99</span>
									</div>
								</div>
							</a>
						</li>

						<li>
							<a class="toilet" href="toilet_detail.html">
								<div class="thumbnail">
									<img src="/images/sampletoilet.jpg" alt="">
								</div>
								<div class="detail">
									<div class="title">中村南鷺宮HQトイレ</div>
									<div class="review-counts">
										<span class="star">
											<i class="fa fa-star"></i>
											<i class="fa fa-star-half-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
										</span>
										<span class="count">99</span> <i class="fa fa-comment"></i><span class="count">99</span>
									</div>
								</div>
							</a>
						</li>

						<li>
							<a class="toilet" href="toilet_detail.html">
								<div class="thumbnail">
									<img src="/images/sampletoilet.jpg" alt="">
								</div>
								<div class="detail">
									<div class="title">中村南鷺宮HQトイレ</div>
									<div class="review-counts">
										<span class="star">
											<i class="fa fa-star"></i>
											<i class="fa fa-star-half-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
										</span>
										<span class="count">99</span> <i class="fa fa-comment"></i><span class="count">99</span>
									</div>
								</div>
							</a>
						</li>

						<li>
							<a class="toilet" href="toilet_detail.html">
								<div class="thumbnail">
									<img src="/images/sampletoilet.jpg" alt="">
								</div>
								<div class="detail">
									<div class="title">中村南鷺宮HQトイレ</div>
									<div class="review-counts">
										<span class="star">
											<i class="fa fa-star"></i>
											<i class="fa fa-star-half-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
										</span>
										<span class="count">99</span> <i class="fa fa-comment"></i><span class="count">99</span>
									</div>
								</div>
							</a>
						</li>

						<li>
							<a class="toilet" href="toilet_detail.html">
								<div class="thumbnail">
									<img src="/images/sampletoilet.jpg" alt="">
								</div>
								<div class="detail">
									<div class="title">中村南鷺宮HQトイレ</div>
									<div class="review-counts">
										<span class="star">
											<i class="fa fa-star"></i>
											<i class="fa fa-star-half-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
										</span>
										<span class="count">99</span> <i class="fa fa-comment"></i><span class="count">99</span>
									</div>
								</div>
							</a>
						</li>

						<li>
							<a class="toilet" href="toilet_detail.html">
								<div class="thumbnail">
									<img src="/images/sampletoilet.jpg" alt="">
								</div>
								<div class="detail">
									<div class="title">中村南鷺宮HQトイレ</div>
									<div class="review-counts">
										<span class="star">
											<i class="fa fa-star"></i>
											<i class="fa fa-star-half-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
										</span>
										<span class="count">99</span> <i class="fa fa-comment"></i><span class="count">99</span>
									</div>
								</div>
							</a>
						</li>

						<li>
							<a class="toilet" href="toilet_detail.html">
								<div class="thumbnail">
									<img src="/images/sampletoilet.jpg" alt="">
								</div>
								<div class="detail">
									<div class="title">中村南鷺宮HQトイレ</div>
									<div class="review-counts">
										<span class="star">
											<i class="fa fa-star"></i>
											<i class="fa fa-star-half-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
										</span>
										<span class="count">99</span> <i class="fa fa-comment"></i><span class="count">99</span>
									</div>
								</div>
							</a>
						</li>

						<li>
							<a class="toilet" href="toilet_detail.html">
								<div class="thumbnail">
									<img src="/images/sampletoilet.jpg" alt="">
								</div>
								<div class="detail">
									<div class="title">中村南鷺宮HQトイレ</div>
									<div class="review-counts">
										<span class="star">
											<i class="fa fa-star"></i>
											<i class="fa fa-star-half-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
										</span>
										<span class="count">99</span> <i class="fa fa-comment"></i><span class="count">99</span>
									</div>
								</div>
							</a>
						</li>

						<li>
							<a class="toilet" href="toilet_detail.html">
								<div class="thumbnail">
									<img src="/images/sampletoilet.jpg" alt="">
								</div>
								<div class="detail">
									<div class="title">中村南鷺宮HQトイレ</div>
									<div class="review-counts">
										<span class="star">
											<i class="fa fa-star"></i>
											<i class="fa fa-star-half-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
										</span>
										<span class="count">99</span> <i class="fa fa-comment"></i><span class="count">99</span>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</div>

<!-- end contents -->
<% include elements/_footer %>