<% 
	var title = "ホーム画面",
		bodyClass = "page-home",
		pageCss = "system";
%>
<% include elements/_header %>


<header id="welcome-message">
	<h1>Welcome, Username</h1>
	<div class="header-info">
		There are 100 of toilet around 1km from you.
	</div>

	<div class="bg">
		<img src="#" alt="" style="background-image:url(http://maps.googleapis.com/maps/api/streetview?size=960x480&amp;location=35.666087999999995,139.73195339999998&amp;heading=235&amp;sensor=false);">
	</div>

	<div id="open-userpage">
		<a href="#"><i class="fa fa-user"></i> USERNAME</a>	
	</div>
	

</header>
<div class="sections">
	<section>
		<div class="column">
			<div class="col-full">
				<div class="panel">
					<h3>NEARBY TOILETS</h3>
					<ul class="toilets" id="default-toilet-list"></ul>
				</div>
			</div>
		</div>
	</section>
</div>


<!-- end contents -->
<% include elements/_footer %>


<script>
var data = 
	{
	    "id":"00000",
	    "name":"トイレの名前",
	    "description"/*個別呼び出し時のみ・複数呼び出し時には省略される*/:
	        "トイレの概要 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
	    "image":[{"uri":"http://---------","sperical":true}],
	    "thumbnail":"http://",
	    "lat":[111.1111111,11111.2222222],
	    "ownerId":22212,
	    "using":false,
	    "price":900,
	    "reviewOverview":{
	    	"rateAverage":4.821, //スターの平均値
	    	"rateCount":10, //スターを付けたレビューの数
	    	"reviewCount":10, //コメントを書いたレビューの数
	    },
	    "review"/*個別呼び出し時のみ・複数呼び出し時には省略される*/:[
	        {
	            "review":"cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
	            "rate":5//0-5(int)
	        },
	        {
	            "rate":5//0-5(int)
	        },
	    ]
	}


var dataset = 
	[
		{"id":"00000",
		"name":"サンプルトイレ1",
		"image":[{"uri":"http://---------","sperical":true}],
		"thumbnail":"http://",
		"lat":[111.1111111,11111.2222222],
		"ownerId":22212,
		"using":false,
		"price":900,
		"reviewOverview":{"rateAverage":4.821,"rateCount":10,"reviewCount":10},},
		{"id":"00000",
		"name":"サンプルトイレ2",
		"image":[{"uri":"http://---------","sperical":true}],
		"thumbnail":"http://",
		"lat":[111.1111111,11111.2222222],
		"ownerId":22212,
		"using":false,
		"reviewOverview":{"rateAverage":3.221,"rateCount":12,"reviewCount":19},},
		{"id":"00000",
		"name":"サンプルトイレ3",
		"image":[{"uri":"http://---------","sperical":true}],
		"thumbnail":"http://",
		"lat":[111.1111111,11111.2222222],
		"ownerId":22212,
		"using":false,
		"price":0,
		"reviewOverview":{"rateAverage":1.821,"rateCount":0,"reviewCount":10},},
		{"id":"00000",
		"name":"サンプルトイレ3",
		"image":[{"uri":"http://---------","sperical":true}],
		"thumbnail":"http://",
		"lat":[111.1111111,11111.2222222],
		"ownerId":22212,
		"using":false,
		"price":100,
		"reviewOverview":{"rateAverage":1.821,"rateCount":0,"reviewCount":10},},
	];


</script>