<% 
	var title = "ホーム",
		bodyClass = "page-home glnav-hide",
		pageCss = "home";
%>
<% include elements/_header %>

<div class="sections">
</div>

<!-- end contents -->
<% include elements/_footer %>