<% 
	var title = "ホーム",
		bodyClass = "page-home glnav-hide",
		pageCss = "";
%>
<% include elements/_header %>
	

<div class="sections">

	<a class="ui-btn" href="home.html">ホームへ</a>

</div>

<!-- end contents -->
<% include elements/_footer %>