<% 
	var title = "ホーム",
		bodyClass = "page-home",
		pageCss = "system";
%>
<% include elements/_header %>

<div class="sections">
	<section>
		<div class="column">
			<div class="col-full">
				<div class="panel">
					<h2>
						ACCOUNT DETAILS
					</h2>
				</div>

				<div class="panel">
					<h3>Profile</h3>
					<ul class="profile" id="user-details"></ul>
				</div>

				<div class="panel">
					<h3>Your toilets</h3>
					<ul class="toilets" id="my-toilets"></ul>
				</div>
			</div>
		</div>
	</section>
</div>

<script>

window.onload = function(){

  $.ajax({
    url: "http://airwn.co/api/get_user_detail?id=1",
    dataType: "JSON",
    cache: false,
    success: function(data, textStatus){
		//この関数に引き渡したらばーん
		_tool.setUserDetail(data);
    },
    error: function(xhr, textStatus, errorThrown){
    	console.log("failed",xhr, textStatus, errorThrown)
      return false;
    }
  });

  $.ajax({
    //url: "/api/get_toilets_userid_1.json",
    url: "http://airwn.co/api/get_toilets",
    dataType: "JSON",
    cache: false,
    success: function(data, textStatus){
		//この関数に引き渡したらばーん
		_tool.setToiletList(data,"#my-toilets");
    },
    error: function(xhr, textStatus, errorThrown){
    	console.log("failed",xhr, textStatus, errorThrown)
      return false;
    }
  });

}

</script>

<!-- end contents -->
<% include elements/_footer %>