<% 
	var title = "トイレーダー",
		bodyClass = "page-home",
		pageCss = "mypage";
%>
<% include elements/_header %>

<div class="sections">
	<section>
		<div class="column">
			<div class="col-full">
				<div class="panel">
					<a href="">助けて！うんこしたいの！！</a>
				</div>

				<ul class="toilet-finder">
					<li>
						<div class="status">
							<span class="icon"><i class="fa fa-ellipsis-h"></i></span>
							<span class="distance">9999m</span>
						</div>
						<div class="detail"></div>
					</li>

					<li class="ban">
						<div class="status">
							<span class="icon"><i class="fa fa-ban"></i></span>
							<span class="distance">9999m</span>
						</div>
					</li>
					<li class="allow">
						<div class="status">
							<span class="icon"><i class="fa fa-thumbs-up"></i></span>
							<span class="distance">9999m</span>
						</div>
						<div class="detail">
							00
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>

<!-- end contents -->
<% include elements/_footer %>