<% 
	var title = "ホーム",
		bodyClass = "page-home",
		pageCss = "system";
%>
<% include elements/_header %>

<div class="sections">
	<section>
	</section>
</div>

<script>


window.onload = function(){
 	var data = {
		    "id":"00000",
		    "name":"トイレの名前",
		    "description"/*個別呼び出し時のみ・複数呼び出し時には省略される*/:
		        "トイレの概要 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
		    "image":[{"uri":"http://---------","sperical":true}],
		    "thumbnail":"http://",
		    "lat":[111.1111111,11111.2222222],
		    "ownerId":22212,
		    "using":false,
		    "price":900,
		    "reviewOverview":{
		    	"rateAverage":4.821, //スターの平均値
		    	"rateCount":10, //スターを付けたレビューの数
		    	"reviewCount":10, //コメントを書いたレビューの数
		    },
		    "review"/*個別呼び出し時のみ・複数呼び出し時には省略される*/:[
		        {
		            "review":"cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
		            "rate":5//0-5(int)
		        },
		        {
		            "rate":5//0-5(int)
		        },
		    ]
		}
	console.log(_tool.createToiletDetail(data));
}
</script>

<!-- end contents -->
<% include elements/_footer %>