<% 
	var title = "ホーム",
		bodyClass = "page-home",
		pageCss = "system";
%>
<% include elements/_header %>

<div class="sections">
	<section></section>
</div>

<script>


window.onload = function(){

  $.ajax({
	url: "http://api.airwn.co/api/get_toilet_detail.json" + window.location.search,
	dataType: "JSON",
	cache: false,
	success: function(data, textStatus){
		//この関数に引き渡したらばーん
		_tool.createToiletDetail(data);
	},
	error: function(xhr, textStatus, errorThrown){
		console.log("failed",xhr, textStatus, errorThrown)
	  return false;
	}
  });

}
</script>

<!-- end contents -->
<% include elements/_footer %>