<% 
	var title = "トイレーダー",
		bodyClass = "page-home",
		pageCss = "mypage";
%>
<% include elements/_header %>

<div class="sections">
	<section>
		<div class="column">
			<div class="col-full">
				<div class="panel">

					
				</div>

			</div>
		</div>
	</section>
</div>

<!-- end contents -->
<% include elements/_footer %>